:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 30px 20px;
  background-color: #121212;
  color: #ffffff;
  height: 100vh;
}

/* TODO: margin bottom is not applying,
  so experience is touching the very bottom 
  of the page */
section {
  margin: 32px 0px;
}

form,
.info {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 24px 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.info h2 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  padding: 0;
}

.info h3 {
  font-size: 1.4rem;
  margin: 0.3rem 0;
  padding: 0;
}

input,
textarea {
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid #333333;
  border-radius: 4px;
  background-color: #2b2b2b;
  color: white;
}

textarea {
  resize: vertical;
}

input:focus,
textarea:focus {
  border-color: #ff5733;
  outline: none;
}

button {
  margin: 8px 0px;
  padding: 12px;
  background-color: #ff5733;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover,
button:focus {
  background-color: #e74c3c;
  transform: scale(1.02);
}

#education,
#experience {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

#add-new {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  margin-left: 32px;
}

#delete {
  position: absolute;
  top: -16px;
  right: 8px;
  font-size: 1.8rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

#delete:hover {
  color: #e74c3c;
}

/* TODO: 
  - style calendar input dates  
  - style little calendar icon on date inputs 
*/
